* {
  margin:0;
  padding:0;
 box-sizing: border-box;
}
/* STYLE FOR BODY ELEMENTS*/

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Poppins",sans-serif;
  justify-content: center;
  background-image: linear-gradient(120deg,lightgrey,darkblue);
}

header{
  font-size: 1.5rem;
}

 header{
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  min-width:20vh;
} 

.container{
  height:100%;
  width:70%;
  background: white;
  border:3px black;
  border-radius:5px;
  box-shadow:0 5px 10px rgba(0,0,0,0.5);
 justify-content: center;
 align-items: center;
 padding: 10px;
  overflow-y:auto;
  
}

#input{
  height: 50px;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 5px;
  background: lightgray;
  color: black;
  padding:0 10px;
  margin:15px 0;
}


#add:hover{
  background-color: darkmagenta;
  color: white;
}

ul li {
  background-color:lightgrey;
  color: black;
  height: 40px;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  text-transform: uppercase;
}

ul .fa-check,.fa-trash{
  cursor: pointer;
}

ul .fa-check{
  color: darkblue;
}

ul .fa-trash{
  color: darkblue;
}
/* for the checked text decoration*/
ul .checked{
  text-decoration: line-through;
  transition: 0.2s;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.todo {
  padding-left: 5%;
}

#add{
    padding:0.1em;
    font-size: 1.5rem;
    background-color: darkblue;  
    color: white;
    margin-top: 1em;
    
}